<div class="business-page">
  <form class="company-lot-edit-form">
    <input type="text" class="lot-name-edit edit-input" value="{{this.[0].name}}">
    <input type="text" class="lot-address-edit edit-input" value="{{this.[0].address}}">
    <input type="number" class="lot-spaces-edit edit-input" value="{{this.[0].availableSpaces}}">
    <input type="text" class="lot-hours-edit edit-input" value="{{this.[0].hours}}">
    <input type="text" class="lot-price-edit edit-input" value="{{this.[0].price}}">
    <input type="submit" class="edit-save" value="Update this Lot">
  </form>
  <button class="company-lot-edit-delete">Delete this Lot</button>
</div>
{{log this}}
