<form class="company-lot-edit-form">
  <input type="text" class="lot-name-edit-input" value="{{this.attributes.name}}">
  <input type="text" class="lot-address-edit-input" value="{{this.attributes.address}}">
  <input type="number" class="lot-spaces-edit-input" value="{{this.attributes.availableSpaces}}">
  <input type="text" class="lot-hours-edit-input" value="{{this.attributes.hours}}">
  <input type="text" class="lot-price-edit-input" value="{{this.attributes.price}}">
  <input type="submit" class="edit-save" value="Update this Lot">
</form>
{{log this}}
